App.css
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 水平置中 */
  padding: 47px;
  gap: 1rem;
}

.Card {
  border: solid 1px #212121;
  border-radius: .3rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1% 2%;
}